.main{
width: 100vw;
height: 100vw;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.title{
grid-row:1/2;
grid-column:2/7;
}
.image{
 grid-row:2/3;
 grid-column:2/7;
}
.play{
 grid-row:5/6;
 grid-column:5/6;
}
.food{
 grid-row:6/7;
 grid-column:5/6;
}
.performance{
  grid-row:7/8;
  grid-column:5/6;
}
.tcsmap{
  grid-row:6/9;
  grid-column:1/4;
}
.kkk{
  grid-row:2/3;
  grid-column:1/2;
}
.playmoji{
  grid-row: 5/6;
  grid-column:4/5;
}
